/* original materializecss color: #607d8b blue-grey */
/* new materializecss color: #212121 grey darken-4 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eaeaea;
}
main {
  flex: 1 0 auto;
}
.container {
  width: 95%
}
nav .brand-logo {
  padding: 0 20px;
  color: #eaeaea
}
.page-footer {
  padding-top: 0;
}
.parallax img {
  width: 150%
}
.typed-cursor.typed-cursor--blink {
	animation: typedjsBlink 1.5s infinite !important;
	-webkit-animation: typedjsBlink 1.5s infinite !important;
  animation: typedjsBlink 1.5s infinite !important;
  color: #eaeaea
}
.typed-cursor {
	animation: typedjsBlink 1.5s infinite !important;
	-webkit-animation: typedjsBlink 1.5s infinite !important;
  animation: typedjsBlink 1.5s infinite !important;
  color: #eaeaea
  
}
.typed-header {
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
  color: #eaeaea

}
.footer-credit {
  background-color: #212121;
  color: #eaeaea;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, "Ubuntu", "Roboto", "Noto", "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}
.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 75vh;
  opacity: 0;
  background-color: #212121;
  animation-play-state: paused;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.intro-text {
  text-align: center;
  font-size: 1.5em;
}
.text-links-container a {
  color:#039be5 !important;
  transition: color .3s ease;
  position: relative
}
.text-links-container a:hover {
  color:#037fe5 !important;
}
.text-links-container a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #037fe5;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}
.text-links-container a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.icon-logo-container {
  display:flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  font-size: 5em;
  max-width: 600px;
  margin: 0 auto;
}
.icon-logo-container i {
  padding: 10px;
  z-index: 1;
  outline: none;
  border: none;
}
.jelly-icon-container i:hover {
  animation: jelly 0.5s;
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1.03, 0.97);
  }
}
.card {
  max-width: 600px;
  margin: 1em auto 2em auto;
}
.icon-contact-container {
  display:flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  font-size: 5em;
  max-width: 600px;
  margin: 0 auto;
}
.icon-contact-container i {
  padding: 10px;
  z-index: 1;
  outline: none;
  border: none;
  cursor: pointer;
}
.fa-linkedin {
  color: #0077b5
}
.fa-envelope-square {
  color: #34a853
}
.fa-github-square {
  color: #333
}
section {
  background: linear-gradient(145deg, rgba(22, 22, 22, 0.02) 0%, rgba(22, 22, 22, 0.02) 58%,rgba(249, 249, 249, 0.02) 58%, rgba(249, 249, 249, 0.02) 90%,rgba(197, 197, 197, 0.02) 90%, rgba(197, 197, 197, 0.02) 93%,rgba(243, 243, 243, 0.02) 93%, rgba(243, 243, 243, 0.02) 99%,rgba(107, 107, 107, 0.02) 99%, rgba(107, 107, 107, 0.02) 100%),linear-gradient(311deg, rgba(157, 157, 157, 0.02) 0%, rgba(157, 157, 157, 0.02) 2%,rgba(234, 234, 234, 0.02) 2%, rgba(234, 234, 234, 0.02) 47%,rgba(57, 57, 57, 0.02) 47%, rgba(57, 57, 57, 0.02) 84%,rgba(181, 181, 181, 0.02) 84%, rgba(181, 181, 181, 0.02) 98%,rgba(128, 128, 128, 0.02) 98%, rgba(128, 128, 128, 0.02) 100%),linear-gradient(97deg, rgba(231, 231, 231, 0.02) 0%, rgba(231, 231, 231, 0.02) 35%,rgba(53, 53, 53, 0.02) 35%, rgba(53, 53, 53, 0.02) 46%,rgba(114, 114, 114, 0.02) 46%, rgba(114, 114, 114, 0.02) 71%,rgba(55, 55, 55, 0.02) 71%, rgba(55, 55, 55, 0.02) 99%,rgba(202, 202, 202, 0.02) 99%, rgba(202, 202, 202, 0.02) 100%),linear-gradient(90deg, rgb(250, 250, 250),rgb(243, 243, 243));
  max-width: 700px;
  margin: 0 auto 50px auto;
  padding: 10px;
  border-radius: .5em;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
h2 {
  text-align: center;
}
#portfolio * {
  border-radius: .5em;
}
.top-radius {
  border-radius: .5em .5em 0 0 !important;
}